In [1]:
import re
import sys
import json
import time
import logging
import traceback
from datetime import datetime
import mplfinance as mpf

from settings import Setting
from instrument import Instrument
from  moving_averages import *
from  candlestick_patterns import *

from db_connect import PostgresDB
from kite_login import KiteLogin
from datetime import datetime, timedelta
import sys
import logging
import importlib

import pandas as pd

from common import Util
from settings import Setting
from instruments_token import InstrumentToken
from momentum_analyser import MomentumAnalyser
from historetical_data import HistoricalData

logging.basicConfig(stream=sys.stdout, level=logging.DEBUG,
	format="%(asctime)s[%(levelname)s] - %(message)s")

In [2]:
token = 256265
is_index = True

setting = Setting()
setting.table_name_5m = 'historical_data_5m_test'

In [3]:
start_time = datetime.now()
start_time = datetime(start_time.year, start_time.month, start_time.day, 16, 15)
unique_key = Util.generate_5m_id(start_time)

In [3]:
instrument_token = InstrumentToken(setting, logging)
instrument_token.load_instrument_tokens(kite_login)

NameError: name 'kite_login' is not defined

In [4]:
instrument = Instrument(token, is_index, setting, logging)
# instrument.load_historical_data(unique_key)
# instrument.load_historical_test_data(unique_key)

2025-03-31 20:34:55,039[DEBUG] - âœ… Connected to PostgreSQL successfully!
2025-03-31 20:34:55,239[DEBUG] - ðŸ”Œ Database connection closed.

In [5]:
instrument.historical_data_5m

,date,open,high,low,close,unique_key,token
0,2024-03-11 09:15:00,22517.50,22526.60,22460.95,22497.70,202403110915,256265
1,2024-03-11 09:20:00,22496.50,22498.45,22471.90,22480.40,202403110920,256265
2,2024-03-11 09:25:00,22482.70,22501.60,22476.10,22488.95,202403110925,256265
3,2024-03-11 09:30:00,22487.65,22497.55,22480.70,22480.70,202403110930,256265
4,2024-03-11 09:35:00,22481.50,22481.50,22467.85,22471.35,202403110935,256265
...,...,...,...,...,...,...,...
18178,2025-03-03 15:05:00,22110.80,22124.70,22110.50,22116.90,202503031505,256265
18179,2025-03-03 15:10:00,22118.40,22124.70,22113.60,22117.25,202503031510,256265
18180,2025-03-03 15:15:00,22117.25,22120.60,22110.10,22119.35,202503031515,256265
18181,2025-03-03 15:20:00,22119.55,22129.35,22111.90,22126.25,202503031520,256265
18182,2025-03-03 15:25:00,22126.25,22146.55,22121.45,22143.15,202503031525,256265

In [6]:
df_5m = instrument.historical_data_5m.copy()
df_5m

,date,open,high,low,close,unique_key,token
0,2024-03-11 09:15:00,22517.50,22526.60,22460.95,22497.70,202403110915,256265
1,2024-03-11 09:20:00,22496.50,22498.45,22471.90,22480.40,202403110920,256265
2,2024-03-11 09:25:00,22482.70,22501.60,22476.10,22488.95,202403110925,256265
3,2024-03-11 09:30:00,22487.65,22497.55,22480.70,22480.70,202403110930,256265
4,2024-03-11 09:35:00,22481.50,22481.50,22467.85,22471.35,202403110935,256265
...,...,...,...,...,...,...,...
18178,2025-03-03 15:05:00,22110.80,22124.70,22110.50,22116.90,202503031505,256265
18179,2025-03-03 15:10:00,22118.40,22124.70,22113.60,22117.25,202503031510,256265
18180,2025-03-03 15:15:00,22117.25,22120.60,22110.10,22119.35,202503031515,256265
18181,2025-03-03 15:20:00,22119.55,22129.35,22111.90,22126.25,202503031520,256265
18182,2025-03-03 15:25:00,22126.25,22146.55,22121.45,22143.15,202503031525,256265

In [7]:
# df_5m.to_csv("NIFTY50-poc1.csv")

In [8]:
# df_5m["shooting_star"] = df_5m.apply(lambda row: is_shooting_star(row.name, df_5m), axis=1)

In [9]:
df_5m["is_shooting_star"] = df_5m.apply(lambda row: is_shooting_star(row.name, df_5m), axis=1)
df_5m

,date,open,high,low,close,unique_key,token,is_shooting_star
0,2024-03-11 09:15:00,22517.50,22526.60,22460.95,22497.70,202403110915,256265,False
1,2024-03-11 09:20:00,22496.50,22498.45,22471.90,22480.40,202403110920,256265,False
2,2024-03-11 09:25:00,22482.70,22501.60,22476.10,22488.95,202403110925,256265,False
3,2024-03-11 09:30:00,22487.65,22497.55,22480.70,22480.70,202403110930,256265,False
4,2024-03-11 09:35:00,22481.50,22481.50,22467.85,22471.35,202403110935,256265,False
...,...,...,...,...,...,...,...,...
18178,2025-03-03 15:05:00,22110.80,22124.70,22110.50,22116.90,202503031505,256265,True
18179,2025-03-03 15:10:00,22118.40,22124.70,22113.60,22117.25,202503031510,256265,False
18180,2025-03-03 15:15:00,22117.25,22120.60,22110.10,22119.35,202503031515,256265,False
18181,2025-03-03 15:20:00,22119.55,22129.35,22111.90,22126.25,202503031520,256265,False
18182,2025-03-03 15:25:00,22126.25,22146.55,22121.45,22143.15,202503031525,256265,False

In [10]:
# df_5m["bearish_down"] = df_5m.apply(lambda row: is_bearish_three_inside_down(row.name, df_5m), axis=1)

In [11]:
# df_5m["is_bearish_marubozu"] = df_5m.apply(lambda row: is_bearish_marubozu(row.name, df_5m), axis=1)

In [12]:
# df_5m["is_hammer"] = df_5m.apply(lambda row: is_hammer(row.name, df_5m), axis=1)

In [13]:
# df_5m["bullish_engulfing"] = df_5m.apply(lambda row: is_bullish_engulfing(row.name, df_5m), axis=1)

In [14]:
# df_5m["bullish_up"] = df_5m.apply(lambda row: is_bullish_three_inside_up(row.name, df_5m), axis=1)

In [15]:
# df_5m["is_bullish_marubozu"] = df_5m.apply(lambda row: is_bullish_marubozu(row.name, df_5m), axis=1)

In [16]:
# df_ce = df_5m[df_5m[["is_bullish_engulfing"]].any(axis=1)]
# df_5m

In [17]:
filetred = df_5m[df_5m[["is_shooting_star"]].any(axis=1)]
filetred = filetred[['date', 'unique_key', 'is_shooting_star']]

In [18]:
filetred.to_csv("is_shooting_star.csv")
# df = pd.read_csv('momentums_new4.csv')

In [26]:
current_time = datetime.now()

In [27]:
start_day = current_time - timedelta(days = 3)
end_day   = current_time - timedelta(days = 1)

In [28]:
start_day, end_day

(datetime.datetime(2025, 3, 29, 9, 25, 43, 72517),
 datetime.datetime(2025, 3, 31, 9, 25, 43, 72517))

In [29]:
current_time = start_day

In [30]:
current_time

datetime.datetime(2025, 3, 29, 9, 25, 43, 72517)

In [31]:
start_day = current_time - timedelta(days = 3)
end_day   = current_time - timedelta(days = 1)

In [32]:
start_day, end_day

(datetime.datetime(2025, 3, 26, 9, 25, 43, 72517),
 datetime.datetime(2025, 3, 28, 9, 25, 43, 72517))

In [2]:
2/4

0.5